doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(content='width=device-width, initial-scale=1.0, user-scalable=no', name='viewport')
        title Unilot
        link(rel="stylesheet", href="/assets/css/main.css")

body
    #dailyModal
    #weeklyModal

    //- block content
    #menu.slideout-menu.slideout-menu-right
        .menu-close
            span
        .row
            .col-xs-12
                ul
                    li
                        a(href="#") Как это работает?
                    li
                        a(href="#") История розыгрышей
                    li
                        a(href="#") Мои кошельки
                    li
                        a(href="#") Сайт ICO

                .lng
                    a(onclick="$('#lng').slideToggle('slow');" href="javascript://") Русский
                        i.icon-caret-down
                        img(src="/assets/img/russia.png", alt="")
                    .lng__block#lng(style="display: none")
                        a(href="#") English
                            img(src="/assets/img/usa.png", alt="")
                        a(href="#") Русский
                            img(src="/assets/img/russia.png", alt="")
                .unilot
                    .row
                        .col-xs-5
                            img(src="/assets/img/unilot.png", alt="")
                            p Скачайте приложение Unilot App и будьте всегда в курсе новых лотерей
                            a(href="#") App Store
                                i.icon-apple
                            a(href="#") Google Play
                                img(src="/assets/img/GooglePlay.png", alt="")
                        .col-xs-7
                            img(src="/assets/img/phone.png", alt="")
                .social
                    i.icon-facebook
                    i.icon-paper-plane
                    i.icon-reddit
                    i.icon-twitter
    #panel.slideout-panel.slideout-panel-right
        .container
            .scene
                div(data-depth='0.6')
                    img(src="/assets/img/parallax.png", alt="")
        .app#btn1(style='display:block')
            .app__content
                .row
                    .col-xs-1.center-xs
                        a(onclick="$('#btn1').slideToggle('slow');" href="javascript://").cross
                            span
                    .col-xs-3
                        img(src="/assets/img/app-logo.png", alt="")
                    .col-xs-8
                        h4 Unilot блокчейн лотерея
                        p Держите руку на пульсе с нашим приложением
                        i.icon-star
                        i.icon-star
                        i.icon-star
                        i.icon-star
                        i.icon-star_half
                    .col-xs-12.end-xs
                        a(href="#").app__btn Установить
        header.header
            .container
                .row.middle-xs
                    .col-sm-1.col-xs-1
                        .top-line-anchor
                            #sticky.sticky-element
                                .sticky-anchor
                                .sticky-content
                                    .menu-open
                                        a#btn(href='#menu')
                                            span
                    .col-sm-1
                        .header__lng
                            a(onclick="$('#header__lng').slideToggle('slow');" href="javascript://") RU
                                i.icon-caret-down
                                img(src="/assets/img/russia.png", alt="")
                            .header__lng__block#header__lng(style="display: none")
                                a(href="#") ENG
                                    img(src="/assets/img/usa.png", alt="")
                                a(href="#") RU
                                    img(src="/assets/img/russia.png", alt="")
                    .col-md-offset-2.col-md-3.col-sm-3.col-sm-offset-1.col-xs-10.start-sm.center-xs
                        .header__logo
                            a(href="index.html")
                                img(src="/assets/img/logo__header.png", alt="")
                    .col-md-5.end-sm.col-sm-6.col-xs-12.center-xs
                        .header__btn
                            a(href="#").btn.btn--lilac ICO
                            a(href="#").btn Принять участие


        //- block content
        section.hat
            .container#link
                .row
                    .col-md-offset-2.col-md-8.center-xs.col-sm-offset-1.col-sm-10.col-xs-12
                        .heading
                            h1 Unilot — блокчейн лотерея с самым высоким шансом на выигрыш!
                            p Децентрализованная лотерея на базе Ethereum Smart Contracts, обеспечивающих полную прозрачность для всех участников розыгрышей

                .jackpot
                    .js-games-summaries.row.center-xs
        section.js-games-container

        section.subs
            .container
                .col-md-offset-3.col-md-6.col-xs-12.center-xs
                    img(src="/assets/img/subs1.png", alt="")
                    h2 <span>for Tokenholder’s
                    p Станьте нашим токен-холдером и у вас появится возможность принять участие в отдельном розыгрыше большого джекпота, мы можем оповестить вас о начале ICO
                    form
                        input(type="email" name="e-mail" placeholder="Ваш email")
                        a(href="#").btn Отправить

        .work-question
            section.work
                .container
                    .row
                        .col-xs-12.center-xs
                            .heading
                                h3 Как это работает
                        .col-sm-8.col-sm-offset-2.col-xs-12.center-xs
                            .work__heading
                                p В бонусной лотерее принимают участие игроки принявшие участие в течение месяца в дневной или недельном розыгрыше, но не ставшие победителями.
                    .row.center-xs.between-xs
                        .col-md-4.col-xs-12
                            .work__block.work__block--margin
                                .work__block__img
                                p Покупаетe билет
                        .col-xs-4
                            .work__block.work__block--margin.work__block--none
                                .work__block__img
                                p Участвуете в розыгрыше (Дневной, Недельный)
                        .col-xs-4
                            .work__block.work__block--none
                                .work__block__img
                                p Получаете выигрыш (или попадаете в бесплатный бонусный розыгрыш)
            section.question
                .container
                    .row
                        .col-xs-12.center-xs
                            .heading
                                h3 Часто задаваемые вопросы
                        .col-xs-12
                            .row
                                .col-md-offset-1.col-md-10.col-xs-12
                                    .question__content.question__content--border
                                        .row.middle-xs
                                            .col-xs-12
                                                a(onclick="$('#name').slideToggle('slow');" href="javascript://") Как попасть в дневной или недельный розыгрыш?
                                                    i.icon-angle-down
                                            .col-xs-12
                                                p#name(style='display:none') В Личном кабинете в меню "Мои объявления" напротив интересуемого объявления нажимаете на иконку "карандаш" (редактировать). В самом объявлении в поле "Цена" вводите измененную стоимость (цифру). Далее нажимаете на "Активировать"
                                                    i.icon-angle-down
                                    .question__content
                                        .row.middle-xs
                                            .col-xs-12
                                                a(onclick="$('#name1').slideToggle('slow');" href="javascript://") Как распределяется призовой фонд?
                                                    i.icon-angle-down
                                            .col-xs-12
                                                p#name1(style='display:none') В Личном кабинете в меню "Мои объявления" напротив интересуемого объявления нажимаете на иконку "карандаш" (редактировать). В самом объявлении в поле "Цена" вводите измененную стоимость (цифру). Далее нажимаете на "Активировать"
                                    .question__content
                                        .row.middle-xs
                                            .col-xs-12
                                                a(onclick="$('#name2').slideToggle('slow');" href="javascript://") Как попасть в бонусную (месячную) лотерею?
                                                    i.icon-angle-down
                                            .col-xs-12
                                                p#name2(style='display:none') В Личном кабинете в меню "Мои объявления" напротив интересуемого объявления нажимаете на иконку "карандаш" (редактировать). В самом объявлении в поле "Цена" вводите измененную стоимость (цифру). Далее нажимаете на "Активировать"
                                    .question__content
                                        .row.middle-xs
                                            .col-xs-12
                                                a(onclick="$('#name3').slideToggle('slow');" href="javascript://") Где можно следить за актуальными розыгрышами?
                                                    i.icon-angle-down
                                            .col-xs-12
                                                p#name3(style='display:none') В Личном кабинете в меню "Мои объявления" напротив интересуемого объявления нажимаете на иконку "карандаш" (редактировать). В самом объявлении в поле "Цена" вводите измененную стоимость (цифру). Далее нажимаете на "Активировать"
                                    .question__content
                                        .row.middle-xs
                                            .col-xs-12
                                                a(onclick="$('#name4').slideToggle('slow');" href="javascript://") Сколько стоит билет и сколько я могу выиграть?
                                                    i.icon-angle-down
                                            .col-xs-12
                                                p#name4(style='display:none') В Личном кабинете в меню "Мои объявления" напротив интересуемого объявления нажимаете на иконку "карандаш" (редактировать). В самом объявлении в поле "Цена" вводите измененную стоимость (цифру). Далее нажимаете на "Активировать"

        footer.footer
            .container
                .row.middle-xs
                    .col-md-offset-4.col-md-2.col-sm-offset-3.col-sm-2.col-xs-12.start-sm.center-xs
                        img(src="/assets/img/logo__footer.png", alt="")
                    .col-md-3.col-sm-offset-1.col-sm-5.col-xs-12.start-sm.center-xs
                        .row
                            .col-xs-3
                                i.icon-facebook
                            .col-xs-3
                                i.icon-paper-plane
                            .col-xs-3
                                i.icon-reddit
                            .col-xs-3
                                i.icon-twitter

    script#gameSummaryTemplate(type="text/x-jsrender")
        .col-md-4.col-xs-12(id="game-summary-{{:id}}")
            .jackpot__block
                h4 {{if type==10}}Дневная
                    | {{else type==30}}Недельная
                    | {{else type==50}}Бонусная
                    | {{else}}Неизвестная{{/if}}
                .game-summary
                    p Джекпот
                    span {{:prize_amount.amount}}
                        img(src="assets/img/jackpot.png", alt="ETH")
                        //- rewrite to accept prize_amount.currency
                    .jackpot__block__maney
                        p US ${{:prize_amount_fiat}}
                    .jackpot__block__timer
                        p Успей принять участие
                        .jackpot__block__timer
                    .row
                        .col-xs-12
                            a.btn.btn--block(href="#game-{{:id}}")
                                i.icon-angle-down
    script#gameTemplate(type="text/x-jsrender")
        .lottery(id="game-{{:id}}")
            .container
                .row
                    .col-md-5.col-xs-12
                        .row
                            .col-md-12.col-xs-6
                                .heading
                                    h2 {{if type==10}}Дневная
                                        | {{else type==30}}Недельная
                                        | {{else type==50}}Бонусная
                                        | {{else}}Неизвестная{{/if}} лотерея
                            .col-md-12.col-sm-8.col-xs-12
                                p Децентрализованная лотерея на базе Ethereum Smart Contracts, обеспечивающих полную прозрачность для всех участников розыгрышей
                    .col-md-7.col-xs-12.start-md.center-xs
                        .lottery__rally
                            .row
                                .col-sm-offset-2.col-sm-9.col-xs-12.col-md-10
                                    .row
                                        .col-md-10.end-xs.col-xs-12
                                            h3 Текущий розыгрыш
                                        .flip-counter-container.col-md-offset-1.col-md-9.end-xs.col-sm-10.col-sm-offset-2.col-xs-12
                                            //- attach id to element below
                                            .flip-counter
                                        .col-xs-12.end-xs
                                            b US ${{:prize_amount_fiat}}
                                        .col-md-4.col-sm-5.col-xs-12.end-sm.center-xs
                                            p До следующего розыгрыша:
                                        .col-md-6.col-sm-7.col-xs-12.end-sm.center-xs
                                            //- add specific class to element below
                                            .lottery__rally__timer
                                        ="{{if canParticipate}}"
                                        .col-md-10.col-sm-11.col-xs-12.center-xs
                                        a.btn.lottery__rally__timer1--btn(href="#", data-toggle="modal", data-target="#{{:modal_id}}")
                                            p Принять участие
                                            span.flex.end-xs {{:bet_amount.amount}} {{:bet_amount.currency}}
                                        ="{{/if}}"
    script#daylyTimerTemplate(type="text/x-jsrender")
        span %D
        p Дней
    script#hourlyTimerTemplate(type="text/x-jsrender")
        .row.end-sm.center-xs
            .col-xs-3
                p.timer_hour %H
                .hour Часа
            .col-xs-1
                span :
            .col-xs-3
                p.timer_minute %M
                .minute Минут
            .col-xs-1
                span :
            .col-xs-3
                p.timer_second %S
                .second Секунд
    block script
        script(src="//localhost:35729/livereload.js" defer)
        script(src="/assets/js/main.js" defer)
