.flex
{
    display: flex;
}

body
{
    font-family: 'Roboto', sn-serif !important; 

    position: relative;

    overflow-x: hidden;

    width: 100%;
    height: 100%;

    background-size: cover;
}

.scene
{
    z-index: 77;
}
.scene img
{
    position: absolute;
    top: 0;
    left: -10%;
}

p
{
    font-size: 18px;

    margin: 0;
    padding: 0;

    color: #999;
}

h1,
h2,
h3,
h4
{
    margin: 0; 
    padding: 0;
}

ul,
ol
{
    margin: 0; 
    padding: 0;

    list-style: none;
}

a
{
    cursor: pointer; 
    text-decoration: none;
}

.container
{
    box-sizing: border-box; 
    width: 100%;
    max-width: 1170px;
    padding: 0 20px;
}

@media (min-width: 1024px)
{
    .hidden-md
    {
        display: none;
    }
}

@media (max-width: 1024px)
{
    .hidden-sm
    {
        display: none;
    }
}

.heading h1
{
    font-size: 40px;
    font-weight: 500;

    padding-top: 90px; 

    color: #000;
}
@media (max-width: 767px)
{
    .heading h1
    {
        font-size: 26px;
        line-height: 1; 

        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.heading h2
{
    font-size: 70px;
    font-weight: 500;

    padding-top: 60px; 
    padding-bottom: 30px;

    color: #fff;
}
@media (max-width: 767px)
{
    .heading h2
    {
        font-size: 26px;
        line-height: 1; 

        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.heading h3
{
    font-size: 34px;
    font-weight: 400; 

    color: #292834;
}
@media (max-width: 767px)
{
    .heading h3
    {
        font-size: 26px;
        line-height: 1; 

        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.heading h4
{
    font-size: 25px;
    font-weight: 100;
    line-height: 48px; 

    color: #fff;
}
@media (max-width: 767px)
{
    .heading h4
    {
        font-size: 26px;
        line-height: 1; 

        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.btn
{
    font-weight: 500;

    display: inline-block;

    padding: 13px 44px;

    transition: all .3s; 

    color: #fff;
    border-radius: 60px;
    background: #f84e44;
}
.btn:hover
{
    background: #512ee2;
}

.jquery-modal
{
    z-index: 999;
}

.blocker
{
    background-color: rgba(255, 255, 255, .75);
}

#login-form,
#policy
{
    max-width: 600px;
    padding: 70px 75px;

    border: 1px solid #ccc;
    border-radius: 5px; 
    background: #fff;
}
#login-form li,
#policy li
{
    font-size: 27px;
    font-weight: 100;

    position: relative;

    display: block;

    margin-bottom: 40px; 

    cursor: pointer;
    text-transform: uppercase;

    color: #4f4f4f;
    border-bottom: 2px solid #ddd;
}
#login-form li.active,
#policy li.active
{
    padding-bottom: 20px; 

    color: #0063b0;
}
#login-form li.active:before,
#policy li.active:before
{
    position: absolute;
    right: 0;
    bottom: -3px; 

    width: 200px;
    height: 4px;

    content: '';

    background: #0063b0;
}
#login-form li:first-child.active,
#policy li:first-child.active
{
    padding-bottom: 20px; 

    color: #0063b0;
}
#login-form li:first-child.active:before,
#policy li:first-child.active:before
{
    position: absolute;
    bottom: -3px; 
    left: 0;

    width: 200px;
    height: 4px;

    content: '';

    background: #0063b0;
}
#login-form h4,
#policy h4
{
    font-size: 18px;
    font-weight: 400; 

    color: #5c5c5c;
}
#login-form p,
#policy p
{
    font-size: 18px;
    font-weight: 200;

    padding: 15px 0 0 0; 

    color: #464646;
}
#login-form input,
#policy input
{
    font-size: 18px;
    font-weight: 300;

    box-sizing: border-box;
    width: 100%;
    margin: 10px 0; 
    padding: 10px 0 8px 10px;

    color: #bdbdbd;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    background: #f9f8f8;
}
#login-form button,
#policy button
{
    font-size: 16px;
    font-weight: 300;

    width: 100%;
    margin-top: 10px;
    padding: 10px 45px;

    cursor: pointer;
    transition: all .3s;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border: 1px solid #0063b0;
    border-radius: 5px;
    outline: none; 
    background: #0063b0;
}
#login-form button:hover,
#policy button:hover
{
    color: #0063b0; 
    background: #fff;
}

@media (max-width: 767px)
{
    #login-form,
    #policy
    {
        padding: 30px 35px;
    }
}

@media (max-width: 550px)
{
    #login-form li,
    #policy li
    {
        font-size: 21px;
    }
    #login-form li.active:before,
    #policy li.active:before
    {
        width: 155px; 

        content: '';
    }
    #login-form li:first-child.active:before,
    #policy li:first-child.active:before
    {
        width: 155px; 

        content: '';
    }
}

@media (max-width: 450px)
{
    #login-form,
    #policy
    {
        padding: 10px;
    }
    #login-form li,
    #policy li
    {
        font-size: 17px;
    }
    #login-form li.active:before,
    #policy li.active:before
    {
        width: 120px; 

        content: '';
    }
    #login-form li:first-child.active:before,
    #policy li:first-child.active:before
    {
        width: 120px; 

        content: '';
    }
}

.modal
{
    box-shadow: 0 0 60px #cccecf;
}
.modal a.close-modal
{
    display: none;
}

#offers,
#complaints,
#option
{
    max-width: 600px;
    padding: 60px 65px;

    border: 1px solid #ccc;
    border-radius: 5px; 
    background: #fff;
}
#offers li,
#complaints li,
#option li
{
    font-size: 27px;
    font-weight: 100;

    position: relative;

    display: block;

    margin-bottom: 20px; 

    cursor: pointer;
    text-transform: uppercase;

    color: #515151;
    border-bottom: 2px solid #ddd;
}
#offers li:last-child,
#complaints li:last-child,
#option li:last-child
{
    padding-right: 40px;
}
#offers li.active,
#complaints li.active,
#option li.active
{
    padding-bottom: 20px; 

    color: #0063b0;
}
#offers li.active:before,
#complaints li.active:before,
#option li.active:before
{
    position: absolute;
    right: 0;
    bottom: -3px; 

    width: 200px;
    height: 4px;

    content: '';

    background: #0063b0;
}
#offers li:first-child.active,
#complaints li:first-child.active,
#option li:first-child.active
{
    padding-bottom: 20px; 

    color: #0063b0;
}
#offers li:first-child.active:before,
#complaints li:first-child.active:before,
#option li:first-child.active:before
{
    position: absolute;
    bottom: -3px; 
    left: 0;

    width: 215px;
    height: 4px;

    content: '';

    background: #0063b0;
}
#offers h4,
#complaints h4,
#option h4
{
    font-size: 18px;
    font-weight: 400;

    padding-bottom: 30px; 

    color: #5c5c5c;
}
#offers input,
#complaints input,
#option input
{
    font-size: 18px;
    font-weight: 400;

    box-sizing: border-box;
    width: 100%;
    margin: 5px 0; 
    padding: 10px 0 8px 10px;

    color: #525254;
    border: none;
    border-radius: 3px;
    outline: none;
    background: #f2f2f2;
}
#offers .description,
#complaints .description,
#option .description
{
    height: 150px;
    padding-bottom: 10px;
}
#offers .description input,
#complaints .description input,
#option .description input
{
    height: 100%;

    text-align: center;
    text-transform: uppercase;
}
#offers .file,
#complaints .file,
#option .file
{
    position: relative;

    height: 40px;
    margin-bottom: 5px; 

    background: #f2f2f2;
}
#offers .file input[type=file],
#complaints .file input[type=file],
#option .file input[type=file]
{
    cursor: pointer;

    opacity: 0; 
    color: #f2f2f2;
    border: none;
}
#offers .file .text,
#complaints .file .text,
#option .file .text
{
    font-size: 16px;
    font-weight: 400;

    position: absolute;
    top: 13px;
    left: 10px;

    color: #515151;
}
#offers .file .btn,
#complaints .file .btn,
#option .file .btn
{
    font-size: 14px;

    position: absolute;
    top: 0;
    right: 0;

    padding: 12px 15px;

    color: #fff; 
    border-radius: 3px;
    background: #0063b0;
}
#offers button,
#complaints button,
#option button
{
    font-size: 16px;
    font-weight: 300;

    display: inline-block; 

    margin-top: 10px;
    padding: 10px 40px;

    cursor: pointer;
    transition: all .3s;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border: 1px solid #0063b0;
    border-radius: 5px;
    outline: none;
    background: #0063b0;
}
#offers button:hover,
#complaints button:hover,
#option button:hover
{
    color: #0063b0; 
    background: #fff;
}
#offers .col-sm-2,
#complaints .col-sm-2,
#option .col-sm-2
{
    padding: 0 8px 0 0;
}
@media (max-width: 767px)
{
    #offers .col-sm-2,
    #complaints .col-sm-2,
    #option .col-sm-2
    {
        padding: 0 8px;
    }
}

@media (max-width: 767px)
{
    #offers,
    #complaints,
    #option
    {
        padding: 30px 35px;
    }
}

@media (max-width: 550px)
{
    #offers li,
    #complaints li,
    #option li
    {
        font-size: 21px;
    }
    #offers li:last-child,
    #complaints li:last-child,
    #option li:last-child
    {
        padding-right: 30px;
    }
    #offers li.active:before,
    #complaints li.active:before,
    #option li.active:before
    {
        width: 155px; 

        content: '';
    }
    #offers li:first-child.active:before,
    #complaints li:first-child.active:before,
    #option li:first-child.active:before
    {
        width: 155px; 

        content: '';
    }
}

@media (max-width: 450px)
{
    #offers,
    #complaints,
    #option
    {
        padding: 20px 10px 20px 10px;
    }
    #offers li,
    #complaints li,
    #option li
    {
        font-size: 15px;
    }
    #offers li:last-child,
    #complaints li:last-child,
    #option li:last-child
    {
        padding-right: 20px;
    }
    #offers li:last-child.active:before,
    #complaints li:last-child.active:before,
    #option li:last-child.active:before
    {
        width: 100px; 

        content: '';
    }
    #offers li:first-child.active:before,
    #complaints li:first-child.active:before,
    #option li:first-child.active:before
    {
        width: 120px; 

        content: '';
    }
}

#option h3
{
    font-size: 32px;
    font-weight: 100;

    position: relative; 

    margin-bottom: 20px;
    padding-bottom: 20px;

    color: #515151;
    border-bottom: 2px solid #ddd;
}
#option h3:before
{
    position: absolute;
    right: 0;
    bottom: -3px; 
    left: 0;

    width: 200px;
    height: 4px;
    margin: 0 auto;

    content: '';
    content: '';

    background: #0063b0;
}

.slideout-menu
{
    position: fixed;
    z-index: 8;
    top: 0;
    bottom: 0;

    display: none;
    overflow: -moz-scrollbars-none; 
    overflow-y: scroll;

    width: 450px;
    min-height: 100vh;

    background: #181a22;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
.slideout-menu::-webkit-scrollbar
{
    width: 0;
}
@media (max-width: 449px)
{
    .slideout-menu
    {
        width: 100%;
    }
}

.slideout-menu-right
{
    right: 0;

    overflow-x: hidden;
}
.slideout-menu-right ul
{
    padding-top: 35px;
    padding-left: 10px;

    list-style: none;

    background: #1e202b;
}
.slideout-menu-right li
{
    padding-top: 35px;
    padding-left: 40px;
}
.slideout-menu-right li:last-child
{
    padding-bottom: 55px;
}
.slideout-menu-right a
{
    font-size: 25px;
    font-weight: 100;

    transition: all .3s; 

    color: #cdcdcd;
}
.slideout-menu-right a:hover
{
    color: #f6c38e;
}
.slideout-menu-right .lng
{
    border-top: 2px solid #2c2e3c;
    border-bottom: 1px solid #2c2e3c;
    background: #1e202b;
}
.slideout-menu-right .lng a
{
    font-size: 20px;

    position: relative;

    display: inline-block;

    box-sizing: border-box; 
    width: 100%;
    padding: 20px 80px;

    color: #cdcdcd;
    border-bottom: 1px solid #2c2e3c;
}
.slideout-menu-right .lng a img
{
    position: absolute;
    top: 25px; 
    left: 50px;
}
.slideout-menu-right .lng a i
{
    position: absolute;
    right: 55px;

    transition: all .3s ease-in-out;
}
.slideout-menu-right .lng__block a
{
    border: none;
}
.slideout-menu-right .lng.active .icon-caret-down
{
    transform: rotate(180deg);

    color: #999;
}
.slideout-menu-right .unilot
{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 100px;
    padding-left: 50px; 

    background: #181a22;
}
.slideout-menu-right .unilot p
{
    font-size: 14px;

    padding: 20px 0; 

    color: #818494;
}
.slideout-menu-right .unilot a
{
    font-size: 18px;

    position: relative;

    display: inline-block;

    width: 75%;
    margin-bottom: 10px;
    padding: 10px 0 10px 45px;

    color: #fff; 
    border-radius: 5px;
    background: #000;
}
.slideout-menu-right .unilot a .icon-apple
{
    font-size: 30px; 

    position: absolute;
    top: 4px;
    left: 10px;
}
.slideout-menu-right .unilot a img
{
    font-size: 30px; 

    position: absolute;
    top: 4px;
    left: 5px;
}
.slideout-menu-right .social
{
    position: fixed;
    bottom: 0;

    width: 450px;
    padding-top: 25px;
    padding-bottom: 25px;

    border-top: 2px solid #2c2e3c;
    background: #181a22;
}
.slideout-menu-right .social i
{
    padding-left: 50px;
}
.slideout-menu-right .social .icon-facebook,
.slideout-menu-right .social .icon-paper-plane,
.slideout-menu-right .social .icon-reddit,
.slideout-menu-right .social .icon-twitter
{
    font-size: 18px;

    cursor: pointer; 

    color: #fff;
}
.slideout-menu-right .social .icon-facebook:hover,
.slideout-menu-right .social .icon-paper-plane:hover,
.slideout-menu-right .social .icon-reddit:hover,
.slideout-menu-right .social .icon-twitter:hover
{
    color: #f84e44;
}

.slideout-menu-left
{
    left: 0;
}

.slideout-panel
{
    position: relative;
    z-index: 9;

    min-height: 100vh;

    background-color: #fff;

    will-change: transform;
}

.slideout-open
{
    overflow: hidden;
}

.slideout-open body,
.slideout-open .slideout-panel
{
    overflow: hidden;
}

.slideout-open .slideout-menu
{
    display: block;
}

.panel:before
{
    display: block;

    content: '';
    transition: background-color .5s ease-in-out; 

    background-color: transparent;
}

.panel-open:before
{
    position: absolute;
    z-index: 999; 
    top: 0;
    bottom: 0;

    width: 100%;

    content: '';

    background-color: rgba(0, 0, 0, .5);
}

#btn
{
    display: block;

    width: 36px;
    height: 20px;
    padding-top: 20px;

    cursor: pointer;
}
#btn span
{
    position: relative;

    display: block;

    width: 30px;
    height: 5px;

    transition: all .3s;

    background-color: #999;

    backface-visibility: hidden;
}
#btn span:after,
#btn span:before
{
    position: absolute;
    top: -10px; 
    left: 0;

    content: '';
}
#btn span:after
{
    top: 10px;

    width: 36px;
    height: 5px;

    transition: all .3s;

    background-color: #999;

    backface-visibility: hidden;
}
#btn span:before
{
    width: 36px;
    height: 5px;

    transition: all .3s;

    background-color: #999;

    backface-visibility: hidden;
}
#btn.on span
{
    background-color: transparent;
}
#btn.on span:before
{
    transform: rotate(45deg) translate(6px, 5px);
}
#btn.on span:after
{
    transform: rotate(-45deg) translate(9px, -8px);
}

#btn.on
{
    display: none;
}

.menu-close
{
    position: absolute;
    top: 20px;
    right: 10%;

    width: 40px;
    height: 40px;

    cursor: pointer;
}
.menu-close span
{
    position: relative;
    top: 20px; 

    background-color: transparent;
}
.menu-close span:after,
.menu-close span:before
{
    position: absolute;
    top: -10px; 
    left: 0;

    content: '';
}
.menu-close span:after
{
    top: 10px;

    width: 36px;
    height: 5px;

    content: '';
    transition: all .3s;
    transform: rotate(-45deg) translate(9px, -8px); 

    border-radius: 2px;
    background-color: #999;

    backface-visibility: hidden;
}
.menu-close span:before
{
    width: 36px;
    height: 5px;

    content: '';
    transition: all .3s;
    transform: rotate(45deg) translate(6px, 5px);

    border-radius: 2px; 
    background-color: #999;

    backface-visibility: hidden;
}

.top-line-anchor
{
    display: inline-block;
}
@media (max-width: 767px)
{
    .top-line-anchor
    {
        left: 20px;
    }
}

.app__content
{
    display: none;

    padding: 30px;

    border-bottom: 2px solid #c2c2c2; 
    background: #eeedee;
}
@media (max-width: 767px)
{
    .app__content
    {
        display: block;
    }
}
.app__content img
{
    width: 100%;
    padding-left: 10px;
}
.app__content h4
{
    font-size: 22px;

    width: 210px;
}
.app__content p
{
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;

    width: 190px; 

    color: #000;
}
.app__content .icon-star,
.app__content .icon-star_half
{
    font-size: 28px;

    display: inline-block; 

    padding-top: 15px;

    color: #f0a213;
}
.app__content .cross
{
    display: inline-block;

    height: 40px;
    margin-top: 50px;
    margin-left: -10px;
}
.app__content span
{
    position: relative;

    display: inline-block;

    width: 30px;
    height: 3px;

    transform: rotate(45deg); 

    background: #7a797a;
}
.app__content span:before
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 30px;
    height: 3px;

    content: '';
    transform: rotate(90deg); 

    background: #7a797a;
}
.app__content__btn
{
    font-size: 20px;
    font-weight: 300; 

    color: #005cb9;
}

.header
{
    position: sticky;
    z-index: 10; 
    top: 0;

    width: 100%;

    background: #fff;
    background-size: cover;
}
.header__lng
{
    width: 90px;
    height: 70px;

    border-right: 2px solid #f8f8f8; 
    border-left: 2px solid #f8f8f8;
}
@media (max-width: 768px)
{
    .header__lng
    {
        display: none;
    }
}
.header__lng a
{
    font-size: 20px;

    position: relative;

    display: inline-block;

    box-sizing: border-box; 
    width: 100%;
    padding: 25px 25px 25px 35px;

    color: #000;
}
.header__lng a img
{
    position: absolute;
    top: 29px; 
    left: 15px;
}
.header__lng a i
{
    position: absolute;
    right: 10px;

    transition: all .3s ease-in-out;
}
.header__lng__block
{
    width: 90px; 
    margin-top: -2px;
    margin-left: -2px;

    border-right: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    border-left: 2px solid #e6e6e6;
    background: #fff;
}
.header__lng__block a
{
    padding: 15px 25px 15px 35px;
}
.header__lng__block a img
{
    top: 18px;
    left: 10px;
}
.header__lng__block a:hover
{
    background: #999;
}
.header__lng.active .icon-caret-down
{
    transform: rotate(180deg);

    color: #999;
}
.header__logo a
{
    display: inline-block;
}
@media (max-width: 767px)
{
    .header__logo a
    {
        padding-bottom: 10px;
    }
}
.header__btn a
{
    display: inline-block;
}
@media (max-width: 767px)
{
    .header__btn a
    {
        margin-bottom: 10px;
    }
}
@media (max-width: 400px)
{
    .header__btn a
    {
        padding: 15px 25px;
    }
}
.header .btn--lilac
{
    margin-right: 10px;

    transition: all .3s; 

    background: #512ee2;
    background: linear-gradient(to top, #4d2ce0, #8453f7);
}
.header .btn--lilac:hover
{
    background: #f84e44;
    background: linear-gradient(to top, #f84e44, #999);
}
.header p
{
    display: inline-block;

    padding-right: 10px;
}

.footer
{
    padding: 15px 0; 

    background: #fff;
}
.footer img
{
    margin-left: -30px;
}
@media (max-width: 767px)
{
    .footer img
    {
        display: none; 

        padding-bottom: 30px;
    }
}
.footer .icon-facebook,
.footer .icon-paper-plane,
.footer .icon-reddit,
.footer .icon-twitter
{
    font-size: 22px;

    cursor: pointer;
}
.footer .icon-facebook:hover,
.footer .icon-paper-plane:hover,
.footer .icon-reddit:hover,
.footer .icon-twitter:hover
{
    color: #f84e44;
}

figure,
figcaption
{
    display: block;
}

.transition
{
    -webkit-transition: top 400ms linear;
       -moz-transition: top 400ms linear;
        -ms-transition: top 400ms linear;
         -o-transition: top 400ms linear;
            transition: top 400ms linear;
}

.timeTo
{
    font-family: Tahoma, Verdana, Aial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 108%;

    height: 32px;
}
.timeTo span
{
    vertical-align: top;
}
.timeTo figure
{
    display: inline-block;

    margin: 0;
    padding: 0;
}
.timeTo figcaption
{
    font-size: 12px;
    font-weight: normal;
    line-height: 80%;

    text-align: center;

    color: #888;
}
.timeTo div
{
    position: relative;

    display: inline-block;
    overflow: hidden; 

    width: 25px;
    height: 30px;
}
.timeTo ul
{
    position: absolute;
    left: 3px; 

    margin: 0;
    padding: 0;

    list-style-type: none;
}
.timeTo ul li
{
    font-family: 'Roboto'; 

    margin: 0;
    padding: 0;

    list-style: none;
}

.jackpot__block__timer_clock1.timeTo div,
.jackpot__block__timer_clock2.timeTo div,
.jackpot__block__timer_clock3.timeTo div
{
    width: 15px; 
    height: 34px;
}

.jackpot__block__timer_clock1.timeTo.timeTo-white,
.jackpot__block__timer_clock2.timeTo.timeTo-white,
.jackpot__block__timer_clock3.timeTo.timeTo-white
{
    font-size: 30px;
    font-weight: 300;

    padding-bottom: 20px; 

    color: #fff;
}
.jackpot__block__timer_clock1.timeTo.timeTo-white li,
.jackpot__block__timer_clock2.timeTo.timeTo-white li,
.jackpot__block__timer_clock3.timeTo.timeTo-white li
{
    font-size: 20px;
}

@media (min-width: 540px) and (max-width: 1024px)
{
    .jackpot__block__timer_clock1.timeTo,
    .jackpot__block__timer_clock2.timeTo,
    .jackpot__block__timer_clock3.timeTo
    {
        line-height: 78%; 

        padding-top: 25px;
    }
    .jackpot__block__timer_clock1.timeTo.timeTo-white,
    .jackpot__block__timer_clock2.timeTo.timeTo-white,
    .jackpot__block__timer_clock3.timeTo.timeTo-white
    {
        font-size: 39px !important;
        font-weight: 300;

        position: relative;
        bottom: 0; 

        padding-bottom: 20px;

        color: #fff;
    }
    .jackpot__block__timer_clock1.timeTo.timeTo-white li,
    .jackpot__block__timer_clock2.timeTo.timeTo-white li,
    .jackpot__block__timer_clock3.timeTo.timeTo-white li
    {
        font-size: 39px;
    }
    .jackpot__block__timer_clock1.timeTo div,
    .jackpot__block__timer_clock2.timeTo div,
    .jackpot__block__timer_clock3.timeTo div
    {
        width: 30px; 
        height: 33px;
    }
}

.lottery__rally__timer1.timeTo,
.lottery__rally__timer2.timeTo,
.lottery__rally__timer3.timeTo
{
    line-height: 78%; 

    padding-top: 25px;
}
.lottery__rally__timer1.timeTo.timeTo-white,
.lottery__rally__timer2.timeTo.timeTo-white,
.lottery__rally__timer3.timeTo.timeTo-white
{
    font-size: 41px;
    font-weight: 300;

    position: relative;
    bottom: 0; 

    padding-bottom: 20px;

    color: #fff;
}

.lottery__rally__timer1.timeTo div,
.lottery__rally__timer2.timeTo div,
.lottery__rally__timer3.timeTo div
{
    width: 30px; 
    height: 33px;
}

.hat
{
    background: #f8f8f8;
}
.hat p
{
    font-weight: 300;
    line-height: 36px; 

    padding: 0 40px;
    padding-top: 30px;
}
@media (max-width: 767px)
{
    .hat p
    {
        padding: 0;
    }
}
.hat .jackpot
{
    position: relative;
    top: 70px;
}
.hat .jackpot__block
{
    margin-bottom: 30px; 
    padding: 30px 45px;

    border-radius: 20px;
    background: #6d41be;
    background: linear-gradient(to top, #6d41be, #bb64f9);
}
@media (max-width: 500px)
{
    .hat .jackpot__block
    {
        padding: 15px 15px;
    }
}
.hat .jackpot__block p
{
    margin-bottom: -13px; 
    padding-top: 25px;
    padding-right: 0;
    padding-left: 0;
}
.hat .jackpot__block--color
{
    background: #4d2ce0;
    background: linear-gradient(to top, #4d2ce0, #8453f7);
}
.hat .jackpot__block--color .btn--block
{
    border: 2px solid #8453f7 !important;
}
.hat .jackpot__block--color .btn--block:hover
{
    background: #4d2ce0 !important;
}
.hat .jackpot__block--color2
{
    background: #212121;
    background: linear-gradient(to top, #212121, #363636);
}
.hat .jackpot__block--color2 .btn--block
{
    border: 2px solid #4e4e4e !important;
}
.hat .jackpot__block--color2 .btn--block:hover
{
    background: #212121 !important;
}
.hat .jackpot__block--color2 .btn--block .icon-angle-down
{
    color: #3b3b3b !important;
}
.hat .jackpot__block h4
{
    font-size: 40px;
    font-weight: 500;
    line-height: 40px; 

    color: #fff;
}
@media (max-width: 1024px)
{
    .hat .jackpot__block h4
    {
        font-size: 72px;

        padding-top: 66px; 
        padding-bottom: 50px;
    }
}
@media (max-width: 500px)
{
    .hat .jackpot__block h4
    {
        font-size: 40px;
    }
}
.hat .jackpot__block p
{
    font-size: 13px; 

    text-transform: uppercase;

    color: #fff;
}
@media (min-width: 540px) and (max-width: 1024px)
{
    .hat .jackpot__block p
    {
        font-size: 23px;
    }
}
.hat .jackpot__block span
{
    font-size: 52px;
    font-weight: 300;

    color: #fff;
}
@media (min-width: 540px) and (max-width: 1024px)
{
    .hat .jackpot__block span
    {
        font-size: 108px;
    }
}
.hat .jackpot__block span img
{
    padding-left: 10px;
}
@media (min-width: 540px) and (max-width: 1024px)
{
    .hat .jackpot__block span img
    {
        width: 50px;
        height: auto;
        padding-left: 20px;
    }
}
.hat .jackpot__block__maney p
{
    font-size: 20px;
    font-weight: 100;

    padding-top: 5px; 

    color: #feb78b;
}
@media (min-width: 540px) and (max-width: 1024px)
{
    .hat .jackpot__block__maney p
    {
        font-size: 36px;
    }
}
@media (min-width: 540px) and (max-width: 1024px)
{
    .hat .jackpot__block__timer p
    {
        padding-top: 50px;
    }
}
.hat .jackpot__block__timer_clock1 span,
.hat .jackpot__block__timer_clock1 p,
.hat .jackpot__block__timer .jackpot__block__timer_clock2 span,
.hat .jackpot__block__timer .jackpot__block__timer_clock2 p,
.hat .jackpot__block__timer .jackpot__block__timer_clock3 span,
.hat .jackpot__block__timer .jackpot__block__timer_clock3 p
{
    display: inline-block;

    padding: 0;
}
@media (min-width: 540px) and (max-width: 1024px)
{
    .hat .jackpot__block__timer_clock1 span,
    .hat .jackpot__block__timer_clock1 p,
    .hat .jackpot__block__timer .jackpot__block__timer_clock2 span,
    .hat .jackpot__block__timer .jackpot__block__timer_clock2 p,
    .hat .jackpot__block__timer .jackpot__block__timer_clock3 span,
    .hat .jackpot__block__timer .jackpot__block__timer_clock3 p
    {
        font-size: 36px;
    }
}
.hat .jackpot__block__timer_clock1 span,
.hat .jackpot__block__timer .jackpot__block__timer_clock2 span,
.hat .jackpot__block__timer .jackpot__block__timer_clock3 span
{
    font-size: 20px;

    padding-left: 3px;
}
@media (min-width: 540px) and (max-width: 1024px)
{
    .hat .jackpot__block__timer_clock1 span,
    .hat .jackpot__block__timer .jackpot__block__timer_clock2 span,
    .hat .jackpot__block__timer .jackpot__block__timer_clock3 span
    {
        font-size: 36px;
    }
}
.hat .jackpot__block__timer_clock1 p,
.hat .jackpot__block__timer .jackpot__block__timer_clock2 p,
.hat .jackpot__block__timer .jackpot__block__timer_clock3 p
{
    font-size: 20px;

    padding-top: 10px;
    padding-bottom: 25px;
}
@media (min-width: 540px) and (max-width: 1024px)
{
    .hat .jackpot__block__timer_clock1 p,
    .hat .jackpot__block__timer .jackpot__block__timer_clock2 p,
    .hat .jackpot__block__timer .jackpot__block__timer_clock3 p
    {
        font-size: 36px;
    }
}
.hat .jackpot__block .btn--block
{
    width: 100%;
    padding: 13px 0; 

    border: 2px solid #9955e0;
    background: none;
}
.hat .jackpot__block .btn--block:hover
{
    background: #6d41be;
}
.hat .jackpot__block .btn--block .icon-angle-down
{
    font-size: 40px; 

    color: #b299de;
}

.lottery--none
{
    margin-top: 0 !important;
    padding-top: 30px !important;
    padding-bottom: 20px;
}
@media (max-width: 1024px)
{
    .lottery--none
    {
        display: none;
    }
}

.lottery
{
    margin-top: -200px; 
    padding-top: 270px;

    background: url('../img/lottery--bg.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.lottery h2
{
    position: relative;
}
.lottery h2:before
{
    position: absolute;
    bottom: 0; 
    left: 0;

    width: 60px;
    height: 2px;

    content: '';

    background: #f84e44;
}
.lottery p
{
    font-size: 20px;

    padding-top: 30px;
    padding-bottom: 20px;
}
.lottery__rally
{
    width: 640px;
    margin: 0 auto; 

    background: url('../img/lattery--block.png') no-repeat;
}
@media (min-width: 1039px)
{
    .lottery__rally
    {
        width: 100%; 

        background-size: 100% 400px;
    }
}
@media (max-width: 767px)
{
    .lottery__rally
    {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 40px;
        padding: 0 20px;

        border-radius: 30px; 
        background: #583390;
    }
}
.lottery__rally--bg1
{
    background: url('../img/lattery--block1.png') no-repeat;
}
@media (min-width: 1039px)
{
    .lottery__rally--bg1
    {
        background-size: 100% 400px;
    }
}
.lottery__rally--bg2
{
    background: url('../img/lattery--block2.png') no-repeat;
}
@media (min-width: 1039px)
{
    .lottery__rally--bg2
    {
        background-size: 100% 400px;
    }
}
.lottery__rally--bg2 .padding
{
    padding-top: 37px;
    padding-right: 20px;
}
.lottery__rally .flip-counter
{
    position: relative;
    left: 125px;
}
.lottery__rally .flip-counter:before
{
    position: absolute;
    top: 5px;
    left: -60px;

    width: 45px;
    height: 75px;

    content: '';

    background: url('../img/triangle.png') no-repeat;
}
.lottery__rally .flip-counter li.b
{
    height: 40px;
}
.lottery__rally h3
{
    font-size: 25px;
    font-weight: 400;
    line-height: 48px;

    padding-top: 50px;

    color: #fff;
}
@media (max-width: 767px)
{
    .lottery__rally h3
    {
        padding-top: 25px;
    }
}
.lottery__rally b
{
    font-weight: 100;
    line-height: 20px;

    display: inline-block;

    padding-top: 10px;
    padding-right: 95px; 

    color: #fdcb8b;
}
.lottery__rally p
{
    font-weight: 100;
    line-height: 20px;

    padding-top: 18px;
    padding-bottom: 0; 

    color: #fdcb8b;
}
.lottery__rally__timer1 p,
.lottery__rally__timer1 span,
.lottery__rally .lottery__rally__timer2 p,
.lottery__rally .lottery__rally__timer2 span,
.lottery__rally .lottery__rally__timer3 p,
.lottery__rally .lottery__rally__timer3 span
{
    display: inline-block;

    color: #fff;
}
.lottery__rally__timer1 p,
.lottery__rally .lottery__rally__timer2 p,
.lottery__rally .lottery__rally__timer3 p
{
    font-size: 44px;
}
.lottery__rally__timer1 .minute,
.lottery__rally .lottery__rally__timer2 .minute,
.lottery__rally .lottery__rally__timer3 .minute
{
    padding-left: 9px;
}
.lottery__rally__timer1 .hour,
.lottery__rally .lottery__rally__timer2 .hour,
.lottery__rally .lottery__rally__timer3 .hour
{
    padding-right: 7px;
}
.lottery__rally__timer1 .hour,
.lottery__rally__timer1 .minute,
.lottery__rally__timer1 .second,
.lottery__rally .lottery__rally__timer2 .hour,
.lottery__rally .lottery__rally__timer2 .minute,
.lottery__rally .lottery__rally__timer2 .second,
.lottery__rally .lottery__rally__timer3 .hour,
.lottery__rally .lottery__rally__timer3 .minute,
.lottery__rally .lottery__rally__timer3 .second
{
    font-size: 15px;

    color: #9a8ada;
}
.lottery__rally__timer1--color,
.lottery__rally .lottery__rally__timer2--color,
.lottery__rally .lottery__rally__timer3--color
{
    margin-left: -15px; 
    padding-bottom: 60px;
}
.lottery__rally__timer1--color span,
.lottery__rally .lottery__rally__timer2--color span,
.lottery__rally .lottery__rally__timer3--color span
{
    font-size: 62px;
}
.lottery__rally__timer1--color p,
.lottery__rally .lottery__rally__timer2--color p,
.lottery__rally .lottery__rally__timer3--color p
{
    font-size: 20px; 

    color: #fdcb8b;
}
.lottery__rally__timer1--btn,
.lottery__rally .lottery__rally__timer2--btn,
.lottery__rally .lottery__rally__timer3--btn
{
    width: 100%; 
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    padding: 20px 0;
}
@media (max-width: 767px)
{
    .lottery__rally__timer1--btn,
    .lottery__rally .lottery__rally__timer2--btn,
    .lottery__rally .lottery__rally__timer3--btn
    {
        position: relative;
        top: 15px;

        margin: 0 auto;
    }
}
.lottery__rally__timer1--btn p,
.lottery__rally__timer1--btn span,
.lottery__rally .lottery__rally__timer2--btn p,
.lottery__rally .lottery__rally__timer2--btn span,
.lottery__rally .lottery__rally__timer3--btn p,
.lottery__rally .lottery__rally__timer3--btn span
{
    font-size: 20px;

    display: inline-block;

    padding-top: 0;

    color: #fff;
}
@media (max-width: 400px)
{
    .lottery__rally__timer1--btn p,
    .lottery__rally__timer1--btn span,
    .lottery__rally .lottery__rally__timer2--btn p,
    .lottery__rally .lottery__rally__timer2--btn span,
    .lottery__rally .lottery__rally__timer3--btn p,
    .lottery__rally .lottery__rally__timer3--btn span
    {
        font-size: 15px;
    }
}
.lottery__rally__timer1--btn p,
.lottery__rally .lottery__rally__timer2--btn p,
.lottery__rally .lottery__rally__timer3--btn p
{
    font-weight: 400; 

    padding-right: 25px;

    text-transform: uppercase;

    border-right: 1px solid #fa7a71;
}
@media (max-width: 400px)
{
    .lottery__rally__timer1--btn p,
    .lottery__rally .lottery__rally__timer2--btn p,
    .lottery__rally .lottery__rally__timer3--btn p
    {
        padding-right: 15px;
    }
}
.lottery__rally__timer1--btn span,
.lottery__rally .lottery__rally__timer2--btn span,
.lottery__rally .lottery__rally__timer3--btn span
{
    font-weight: 100;

    padding-left: 25px;
}
@media (max-width: 400px)
{
    .lottery__rally__timer1--btn span,
    .lottery__rally .lottery__rally__timer2--btn span,
    .lottery__rally .lottery__rally__timer3--btn span
    {
        padding-left: 15px;
    }
}
.lottery__rally__timer3 span
{
    font-size: 40px;

    margin-left: -5px; 
    padding-top: 20px;
}
.lottery__past
{
    padding: 25px; 

    background: #000;
}
@media (max-width: 767px)
{
    .lottery__past
    {
        padding: 25px 0;
    }
}
.lottery__past__content
{
    border-right: 2px solid #1b1b1c;
}
@media (max-width: 1024px)
{
    .lottery__past__content
    {
        margin-top: 15px; 

        border-right: none;
        border-bottom: 2px solid #1b1b1c;
    }
}
.lottery__past__content--border
{
    border: none;
}
.lottery__past__content p
{
    position: relative;

    padding-top: 0; 

    color: #777;
}
.lottery__past__content p span
{
    font-weight: 100; 

    padding-left: 5px;

    color: #ffd5a7;
}
.lottery__past__content p:before
{
    position: absolute;
    right: 0;
    bottom: -18px;
    left: 0;

    width: 60px;
    height: 2px;
    margin: 0 auto;

    content: '';

    background: #1b1b1c;
}
.lottery__past__content__block
{
    padding-top: 10px;
}
.lottery__past__content__block p
{
    font-size: 12px;

    padding-top: 30px; 
    padding-bottom: 10px;

    text-transform: uppercase;

    color: #777;
}
.lottery__past__content__block p:before
{
    display: none;
}
.lottery__past__content__block span
{
    font-size: 25px;
    font-weight: 100; 

    position: relative;

    color: #fff;
}
@media (max-width: 400px)
{
    .lottery__past__content__block span
    {
        font-size: 20px;
    }
}
.lottery__past__content__block span p
{
    font-size: 12px;
    font-weight: 400; 

    position: absolute;
    top: -28px;
    right: -30px;

    color: #777;
}
.lottery__past__content__block--btn
{
    font-weight: 100;

    margin-top: 30px; 

    text-transform: uppercase;

    border: 2px solid #343435;
    background: none;
}
@media (max-width: 1024px)
{
    .lottery__past__content__block--btn
    {
        font-size: 15px;

        margin-bottom: 20px;
    }
}

.subs
{
    padding-bottom: 90px; 

    background: url('../img/lottery--bg.png') no-repeat;
}
@media (max-width: 1024px)
{
    .subs
    {
        padding-bottom: 50px;
    }
}
.subs h2
{
    font-size: 40px;
    font-weight: 300;

    padding-top: 60px; 

    letter-spacing: 8px;
    text-transform: uppercase;

    color: #fff;
}
@media (max-width: 490px)
{
    .subs h2
    {
        font-size: 25px;
    }
}
.subs h2 span
{
    font-size: 30px;

    letter-spacing: 1px;
    text-transform: none; 

    color: #c79d7f;
}
.subs p
{
    font-weight: 100; 
    line-height: 30px;

    padding: 30px 40px;

    color: #808089;
}
@media (max-width: 1024px)
{
    .subs p
    {
        font-size: 22px;
        font-weight: 100;
    }
}
@media (max-width: 440px)
{
    .subs img
    {
        width: 100%;
    }
}
@media (max-width: 470px)
{
    .subs form
    {
        padding: 0 10px;
    }
}
.subs form input
{
    font-size: 16px;

    width: 50%;
    height: 38px;
    margin-right: 20px;
    margin-bottom: 10px; 
    padding-top: 3px;
    padding-left: 30px;

    color: #808089;
    border: 2px solid #666;
    border-radius: 40px;
    outline: none;
    background: none;
}
@media (max-width: 470px)
{
    .subs form input
    {
        box-sizing: border-box; 
        width: 100%;
    }
}
@media (max-width: 470px)
{
    .subs form a
    {
        width: 100%; 
        padding: 15px 0;
    }
}

.work-question
{
    padding-bottom: 85px; 

    background: #f8f8f8;
}

.work h3
{
    position: relative;

    margin-top: 90px; 
    margin-bottom: 76px;
}

.work h3:before
{
    position: absolute;
    right: 0;
    bottom: -30px;
    left: 0;

    width: 60px;
    height: 3px;
    margin: 0 auto;

    content: '';

    background: #f84e44;
}

.work__heading p
{
    font-size: 20px;

    padding-bottom: 55px;
}

.work__block
{
    margin-bottom: 100px;
    padding: 40px;

    background: #fff;
    box-shadow: 0 40px 50px 0 #e1e1e1;
}
.work__block .work__block__img
{
    width: 100%;
    height: 240px;
}
.work__block p
{
    min-height: 60px;
}
@media (max-width: 1024px)
{
    .work__block p
    {
        font-size: 30px;
    }
}
@media (max-width: 1024px)
{
    .work__block--none
    {
        display: none;
    }
}
.work__block.work__block--margin
{
    margin-right: 15px;
}
@media (max-width: 1024px)
{
    .work__block.work__block--margin
    {
        margin-right: 0;
    }
}

.question
{
    padding-bottom: 85px;
}
.question h3
{
    padding-bottom: 45px;
}
.question a
{
    font-size: 18px;
    font-weight: 400;

    position: relative; 

    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    padding: 25px 0;
    padding-right: 50px;

    color: #005cb9;
}
.question p
{
    font-size: 16px;

    padding-bottom: 25px;
}
.question__content
{
    border-bottom: 1px solid #ddd;
}
.question__content--border
{
    border-top: 1px solid #ddd;
}
.question .icon-angle-down
{
    font-size: 30px;

    position: absolute;
    top: 30%;
    right: 20px;

    display: inline-block;

    margin-left: 20px;

    transition: all .3s ease-in-out; 

    color: #005cb9;
}

.question__content.active .icon-angle-down
{
    transform: rotate(180deg);

    color: #999;
}

.form h3
{
    padding-bottom: 30px;
}

.form p
{
    padding-bottom: 10px;
}

.form form
{
    padding-left: 45px;
}
@media (max-width: 1024px)
{
    .form form
    {
        padding: 0;
    }
}
.form form input
{
    font-size: 24px;

    width: 90%;
    height: 45px;
    margin-bottom: 20px;
    padding-left: 20px; 

    border: 2px solid #dcdcdc;
    border-radius: 40px;
    outline: none;
}
@media (max-width: 1024px)
{
    .form form input
    {
        width: 98%;
    }
}
.form form textarea
{
    font-size: 24px;

    width: 90%;
    height: 45px;
    min-height: 140px;
    margin-bottom: 20px;
    padding: 10px; 

    border: 2px solid #dcdcdc;
    border-radius: 20px;
    outline: none;
}
@media (max-width: 1024px)
{
    .form form textarea
    {
        width: 98%;
    }
}
.form form .g-recaptcha
{
    padding-bottom: 20px;
}
@media (max-width: 330px)
{
    .form form .g-recaptcha
    {
        margin-left: -18px;
    }
}
